*.buildinfo
*.changes
*.deb
*.debhelper.log
*.orig.tar.gz
*.substvars
debhelper-build-stamp
files
libdom-*/
libfmodex-*/
libglm-*/
libhubbub-*/
libkissfft-*/
libparserutils-*/
libsvgtiny-*/
libwapcaplet-*/
netsurf-buildsystem-*/
nlohmann-json-*/
poco-*/
