#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@

override_dh_auto_build:
	make kiss_fft.o
	make -C tools CFLAGS=-I.. kiss_fftr.o
	ar sr libkissfft.a kiss_fft.o tools/kiss_fftr.o
